{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Главная</title>
    <link type="text/css"  href="{% static 'pets/css/style.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>
<body>
<header class="p-3 text-bg-dark">
    <div class="container">
      <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
        <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
          <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap"><use xlink:href="#bootstrap"></use></svg>
        </a>
        <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
          <li><a href="/" class="nav-link px-2 text-secondary">Home</a></li>
          <li><a href="/cats" class="nav-link px-2 text-white">Cats</a></li>
          <li><a href="/dogs" class="nav-link px-2 text-white">Dogs</a></li>
          <li><a href="/hamsters" class="nav-link px-2 text-white">Hamsters</a></li>
        </ul>
      </div>
    </div>
</header>
<div class="container px-4 py-5" id="featured-3">
    {% for c in viewcats %}
    <h1 class="pb-2 border-bottom">Home</h1>
      <div>
        <a href="/cats">
        <img src="{{ c.cimg.url }}" alt="" class="img">
        <p class="fs-2 text-whitelink">{{ c.chead }}</p>
        </a>
      </div>
    {% endfor %}
    {% for d in viewdogs %}
    <div>
        <a href="/dogs">
        <img src="{{ d.dimg.url }}" alt="" class="img">
        <p class="fs-2 text-whitelink">{{ d.dhead }}</p>
        </a>
    </div>
    {% endfor %}
    {% for h in viewhamsters %}
    <div>
        <a href="/hamsters">
        <img src="{{ h.himg.url }}" alt="" class="imghp">
        <p class="fs-2 text-whitelink">{{ h.hhead }}</p>
        </a>
    </div>
    {% endfor %}
</div>

</body>
</html>