.img{
   width: 250px;
   height: 250px;
}

.cimgh{
    width: 450px;
    height: 500px;
}

.cimge{
    width: 600px;
    height: 400px;
}

.cimgm{
    width: 900px;
    height: 400px;
}

.cimgt{
    width: 850px;
    height: 450px;
}

.imghp{
    width: 300px;
    height: 250px;
}



.himge{
    width: 500px;
    height: 500px;
}

.himgt{
    width: 500px;
    height: 500px;
}
